* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background: url(background.jpeg) no-repeat center / cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav__topone {
    overflow: hidden;
    background-color: #e9e9e9;
    margin: 0vw 0vw;
  }
  
  .nav__topone a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 1vw 2vw;
    text-decoration: none;
    
  }
  

  .nav__topone a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav__topone a.active {
    background-color: black;
    color: white;
  }
  
  .nav__topone input[type=search] {
    float: right;
    padding: 0.6vw;
    border: none;
    margin-top: 0.6vw;
    margin-right: 1.6vw;

  }

  .Sign-in__container {

    padding: 1.8vw 3.7vw 2.5vw 3.7vw;
    text-align: left;
    margin: 3.7vw 19vw;
    background-color: #e9e9e9;
    color: black;
  }

  .Sign-in__names {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  h1 {
   color: black;
  }

  #fname, #oname, #lname {
      height: 2vw;
      width: 17vw;
  }

  #number, #email {
      width: 26.2vw;
      height: 2.1vw;
  }

  #address {
      width: 53vw;
      height: 2.1vw;
  }
  #birthday, #country {
    height: 2.1vw;
    width: 26.2vw;
  }
  button {
      padding: 1vw 1.6vw;
      border-radius: 0.5vw;
      color: white;
      background-color: black;
  }


  

  

  